<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/pc/home">Home Page</a><br/>
    <b>Total Policy Document Metadata</b><br/>
    <b>Total Documents Present : </b> <b th:text = "${documentCount}"></b>
    <hr/>
    <table border="1">
        <tr>
            <td>Document Identifier</td>
            <td>Account Number</td>
            <td>Policy Number</td>
            <td>GUID</td>
            <td>Creation Time</td>
        </tr>
        <tr th:each="doc:${policyDocumentList}">
            <td th:text="${doc.docID}">1</td>
            <td th:text="${doc.accountNumber}">A100</td>
            <td th:text="${doc.policyNumber}">NVAP100</td>
            <td th:text="${doc.guidEnvelopeId}">123456789</td>
            <td th:text="${doc.createdDateTime}">11/7/2015</td>
        </tr>
    </table>
</body>
</html>